 <script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [320, 320]
  Dashing.numColumns = 5
});
</script>

<% content_for :title do %>dashboard.spilth.org<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-id="sunrise" data-view="Sunrise"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
    <div data-id="clock" data-view="Clock"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
    <div data-id="twitter_mentions" data-view="Comments" style="background-color:#55c4eb;"></div>
    <i class="icon-twitter icon-background"></i>
    </li>
    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="forecast" data-view="Forecast"></div>
    </li>
  </ul>
</div>
